<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tap that ball</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="gameContainer">
        <div id = "rankingPanel">
            <h2>Rank</h2>
            <div id = "rankingContent">
                <table id="rankingTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Date</th>
                        <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <canvas id="GameCanvas"></canvas>
        <div id = "info">
            <h2>Session</h2>
        </div>
    </div>
<script src="../js/game.js"></script>
    <script src="../js/ranking.js"></script>
</body>
</html>
