<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tap that ball</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div id="usernameOverlay">
    <div id="usernameForm">
        <h2>Welcome to Tap That Ball!</h2>
        <p>Please enter your name to start the game</p>
        <input type="text" id="nameInput" placeholder="Your name" maxlength="20">
        <button id="startGame">Start Game</button>
    </div>
</div>

<div class="gameContainer">
    <div id="rankingPanel">
        <h2>Rank</h2>
        <div id="rankingContent">
            <table id="rankingTable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Date</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div id="CanvasContainer">
        <canvas id="GameCanvas"></canvas>
        <button id="TryAgain">Try again</button>
    </div>
    <div id="info">
        <h2>Session</h2>
        <div id="user-details">
            <p id="username">Username: JohnDoe</p>
            <p id="attempsAmount">Attemps</p>
            <p id="country">Country: USA</p>
            <p id="highscore">Highscore: 1000</p>
        </div>
    </div>
</div>

<script src="../js/location.js"></script>
    <script src="../js/game.js"></script>
    <script src="../js/ranking.js"></script>
</body>
</html>
