body{
    background-color: #1e2022;
}
.gameContainer{
    display: flex;
    flex-direction: row;
    height: 90vh;
}
#GameCanvas {
    background-color: #52616b;
    width: 28vw;
    height: 92vh;
    display: block;
    margin: auto;
    border-radius: 1%;
    border: 2px solid #e4d5b7;
}
#rankingPanel,#info{
    background-color: #52616b;
    width: 20vw;

    border-radius: 1%;
    border: 2px solid #e4d5b7;

}
#info {
    height: 30vh;
    margin: auto 15vw auto 1vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    color: #e4d5b7;
}
#username, #country, #highscore {
    font-family: Verdana, serif;
    font-size: 2vh;
    font-weight: bold;
    margin: 0;
}
#rankingPanel{
    height: 70vh;
    margin: auto 1vw auto 15vw;
}
#rankingContent{
    margin: auto;
    width: 80%;
    height: 80%;
    overflow: auto;
}
h2{
    text-align: center;
    color: #e4d5b7;
}
table{
    color: #e4d5b7;
    width: 100%;
    height: 100%;
}
#CanvasContainer {
    position: relative;
    width: 28vw;
    height: 92vh;
    margin: auto;
}
#TryAgain{
    visibility: hidden;
    position: absolute;
    width: 30%;
    height: 8%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #1e2022;
    color: #e4d5b7;
    border: none;
    border-radius: 8%;
    font-weight: bold;
    font-size: 150%;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
#TryAgain:hover{
    background-color: #2a2c2e;
}

#usernameForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e2022;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #e4d5b7;
    text-align: center;
    max-width: 400px;
    width: 80%;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#usernameForm p{
    color: #e4d5b7;
}
#usernameForm h2 {
    margin-top: 0;
    color: #e4d5b7;
}

#usernameForm input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
}

#usernameForm button {
    background-color: #e4d5b7;
    color: #1e2022;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#usernameForm button:hover {
    background-color: #d6c7a9;
}